{%-for work in collections.work -%}

<a href="fakepage">
    <div class="hero__featured__project">
        <div class="hero__featured__project-title">
            <h2>{{work.data.title}}</h2>
            <p>Type of work</p>
        </div>
    </div> 
</a>

{%-endfor %}