<header class="header">
        <nav class="header__nav">
            <img class="header__nav__logo" src="/IMG/June28.jpeg" alt="Hans Bachman Logo">
            <div class="header__nav__buttons">
                <button>About Me</button>
                <button>My Work</button>
                <button>Contact</button>
            </div>
        </nav>
    </header>