body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundcolour);
}

/* Hero */
/* ================================================= */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100dvh;
    padding: 5dvw;
}

.hero__aboutcont {
    display: flex;
    flex-direction: column;
    max-width: 35dvw;
    min-height: fit-content;
    padding: 2vw;
    padding-top: 20dvw;
    margin-bottom: 10dvw;
    color: rgb(0, 0, 0);
    top: 5dvh;
}

/* .hero__detailcont {
    max-width: 35dvw;
    min-height: fit-content;
    padding: 2vw;
    padding-bottom: 0dvh;
    top: 35dvw;
} */

.sticky {
    position: -webkit-sticky;
    position: sticky;
}
/* ================================================= */

/* HeroFeaturedProjects */
/* ================================================= */
.hero__featured {
    display: flex;
    flex-direction: column;
    margin-left: 7dvw;
    padding: 1dvw;
    border-radius: 15px;
    background-color: var(--lighthighlight);
    margin-top: 10dvh;
    max-width: 100%;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
}

.hero__featured__project {
    padding-bottom: 35dvh;
    margin: 0.5dvw;
    border-radius: 0 0 15px 15px;
    border: 0.25vw solid var(--highlightblue);
    color: var(--lighthighlight);
}

.hero__featured__project-title {
    margin-bottom: 1dvh;
    padding: 1dvw;
    background-color: var(--highlightblue);
}

.hero__featured__project-title h2, p {
    margin: 0;
    padding: 0;
}
/* ================================================= */

/* Gallery */
/* ================================================= */
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: var(--lighthighlight);
    padding-bottom: 1000px;
}

.gallery__container {
    padding: 1dvw;
    background-color: var(--lighthighlight);
}
.gallery__container:hover {
    box-shadow: 10px 10px 15px var(--highlightblueshadow);
    transition: 0.5s;

}

.gallery__item {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
    background-color: var(--highlightblue);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
    outline: 5px solid var(--highlightblue);
    max-width: 25dvw;
}

.gallery__item-title {
    padding: 1dvw;
    background-color: var(--highlightblue);
    border-radius: 0 0 15px 15px;
}

.gallery__item img {
    border-radius: 0 0 15px 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ================================================= */

/* Post Page */
/* ================================================= */
.back {
    padding-left: 5dvw;
    padding-top: 5dvh;
  }
  
  .postPaddingWrapper {
    padding-left: 30dvw;
    padding-right: 30dvw;
    display: flex;
    flex-direction: column;
  }
  
  .botMargin {
    margin-bottom: 2dvw;
  }
  
  .postPaddingWrapper img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  .postImageGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1dvw;
  }
  
  .postImageGallery img:nth-child(1) {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
    max-width: 100%;
    height: auto;
  }
  .postImageGallery img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  
  .postImageGalleryBot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
  }
  
  .postImageGalleryBot img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 31%;
  }

  .postImageVideo {
    border: 5px solid #a59bff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .postImageVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .postImageGallery img {
    border: 5px solid #a59bff;
    border-radius: 5px;
    cursor: pointer;
  }

  .postImageGalleryBot img {
    border: 5px solid #a59bff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .postPaddingWrapper img:active {
    outline: none;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .overlay img {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid white;
  }


/* ================================================= */